.special-gothic-expanded-one-regular {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.strait-regular {
  font-family: "Strait", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quicksand-nice {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* variables */

:root {
  /*fonts*/
  --FF-small: clamp(0.875rem, 1vh, 1rem);
  --FF-medium: clamp(1rem, 2.2vh, 1.5rem);
  --FF-large: clamp(5rem, 8vh, 8rem);
  --FF-main: "Quicksand", sans-serif;
  --FF-sec: "Strait", sans-serif;
  --FF-accent: "Special Gothic Expanded One", sans-serif;

  /*colors*/
  --BG-GRADIENT: linear-gradient(90deg, #ffffff, #ff9500, #ffffff);
  --BG-COLOR: #ff9500;
}

body {
  background-image: var(--BG-GRADIENT);
}

header {
  background-color: var(--BG-COLOR);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding-inline: 1rem;
  max-width: 1200px;
}

.header__li {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  padding: 10px; /* optional: adds click-space */
  background-color: transparent;
  border: black solid 1px;
  font-family: var(--FF-main);
  white-space: nowrap;
}


.header__img {
  max-width: 80px;
  position: relative;
  left: 0;
}

.center {
  text-align: center;
}

.section__a-login {
  font-size: var(--FF-medium);
  text-decoration: none;
}

.hero__content {
  margin-top: 10%;
}

.hero__content h1 {
  font-size: var(--FF-large);
  margin-bottom: 20px;
  
}

.hero__content p {
  font-size: var(--FF-medium);
  font-family: var(--FF-main);
  max-width: 800px;
  margin: 0 auto;
}

.hero__content-space {
  margin: 20px;
  font-family: var(--FF-main);
}

footer {
  background-color: var(--BG-COLOR);
  height: 100px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  bottom: 0;
  position: absolute;
  width: 100%;
}

.mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Optional: vertical centering */
  text-align: center; /* Ensures the text inside is centered */
  margin-top: 5%;
}

.mid a {
  font-family: var(--FF-sec);
  text-decoration: none;
  background-color: transparent;
  border: black solid 1px;
  padding: 10px;
}

.mid p {
  font-family: var(--FF-main);
  margin-top: 10px;
}

:any-link {
  text-decoration: none;
  color: inherit;
}

 a:hover,li:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

footer p, footer a {
  font-family: var(--FF-main);
  margin-top: 15px;
  color: blueviolet;
}

.header__module {
  display: none;
}


@media screen and (max-width: 660px) {
  .header__li {
    display: none;
  }

  .header__module {
    display: block;
    size: 100%;
  }

  .hero__content {
    max-width: 90%;
    margin: 10% auto 0 auto;
  }
 
  
}

a:visited {
  color: inherit;
}
